h1 {
  font-weight: 200;

}

.emoji {
  position: relative;
  top: -5px;
}

h4 {
  font-weight: 200;
  font-size: 2rem;
  margin-top: -10px;
}

button {
  margin-top: 15px;
}

.col-md-4 {
  margin-bottom: 5px;
}
.container {
  padding: 15px 15px;
}

@media only screen and (min-width: 768px) {
.col-md-4 {
  margin-bottom: 15px;
}
.container {
  padding: 30px 0;
}
}